
    {% extends 'layouts/base.html' %}
    {% block content %}

    <h1>Proyects</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nobis illo eos. Sit ab optio animi porro, commodi rem ullam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, error dolorum explicabo repudiandae blanditiis eius laboriosam facilis atque praesentium incidunt.</p>

    {% for proyect in proyects %}
        <article class="card">
            <a href="{% url 'proyects_detail' proyect.id %} ">
            <h3>{{proyect.name}}  </h3>
            </a>
        </article>
    
    {% endfor %}
    {% endblock %}
