{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1>{{title}} </h1>
<img src="{%  static 'logo_python.png' %}" alt="imagen logo_python" width="70">
<img src="{%  static 'django_logo.png' %}" alt="imagen logo_python" width="70">
<img src="{%  static 'fazt_logo.png' %}" alt="imagen logo_python" width="70">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sapiente impedit, beatae cupiditate quia pariatur laborum eum soluta! Reiciendis, molestiae. Accusantium eveniet est culpa, perspiciatis iusto molestias? Architecto, accusantium eaque!</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur iste reiciendis neque odio numquam quidem deleniti eum alias labore omnis saepe sit ex repudiandae cum, nam fuga beatae totam voluptate!</p>

{% endblock %}